# ---------- Node / Angular ----------
node_modules/
dist/
.angular/
.cache/

# ---------- Java / Spring Boot ----------
target/
*.class
*.log

# ---------- IDE ----------
.idea/
.vscode/
*.iml

# Eclipse
.metadata/
.classpath
.project
.settings/

# ---------- OS ----------
.DS_Store
Thumbs.db
